<footer class="footer">
    <div class="footer-content">
        <h2>Get in Touch</h2>
        <p>Think I can help with your real estate needs or startup?<br>
             Let's find out!</p>
        <form class="contact-form" action="https://formspree.io/f/meoekovr" method="POST">
            <div class="form-group">
                <input type="text" name="name" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="form-group">
                <textarea name="message" placeholder="Tell me about what you need." required></textarea>
            </div>
            <button type="submit" class="submit-button">
                <i class="far fa-paper-plane"></i>
                Send Message
            </button>
        </form>
    </div>
</footer> 